PORT=5002
FRONTEND_URL=http://localhost:5173

JWT_SECRET=JMYW2ZCXKFWSQYKLPBQTSV2IMREXCRBW
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:5002/auth/google/callback
